CNTVInterop/WebContent/wsdl/concursos.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp_="http://www.w3.org/ns/ws-policy"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://cntv.interop.subtel.cl/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ConcursosService" targetNamespace="http://cntv.interop.subtel.cl/">
	<wsdl:types>
		<xs:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
			xmlns:wsp_="http://www.w3.org/ns/ws-policy"
			xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:tns="http://cntv.interop.subtel.cl/"
			xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="unqualified" targetNamespace="http://cntv.interop.subtel.cl/" version="1.0">
			<xs:element name="agregarUsuario" type="tns:agregarUsuario"/>
			<xs:element name="agregarUsuarioResponse" type="tns:agregarUsuarioResponse"/>
			<xs:element name="recibirCarpetaTecnica" type="tns:recibirCarpetaTecnica"/>
			<xs:element name="recibirCarpetaTecnicaResponse" type="tns:recibirCarpetaTecnicaResponse"/>
			<xs:element name="paginaCalculoTVD" type="tns:paginaCalculoTVD"/>
			<xs:element name="paginaCalculoTVDResponse" type="tns:paginaCalculoTVDResponse"/>
			<xs:complexType name="agregarUsuario">
				<xs:sequence>
					<xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO"/>
					<xs:element minOccurs="0" name="empresa" type="tns:empresaDTO"/>
					<xs:element minOccurs="0" name="representante" type="tns:representanteLegalDTO"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="usuarioDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="email" type="xs:string"/>
					<xs:element minOccurs="0" name="id" type="xs:int"/>
					<xs:element minOccurs="0" name="nombre" type="xs:string"/>
					<xs:element minOccurs="0" name="rut" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="empresaDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="comuna_id" type="xs:int"/>
					<xs:element minOccurs="0" name="direccion" type="xs:string"/>
					<xs:element minOccurs="0" name="giro" type="xs:string"/>
					<xs:element minOccurs="0" name="nombre_fantasia" type="xs:string"/>
					<xs:element minOccurs="0" name="razon_social" type="xs:string"/>
					<xs:element minOccurs="0" name="rut" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="representanteLegalDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="apellidoMaterno" type="xs:string"/>
					<xs:element minOccurs="0" name="apellidoPaterno" type="xs:string"/>
					<xs:element minOccurs="0" name="celular" type="xs:string"/>
					<xs:element minOccurs="0" name="email" type="xs:string"/>
					<xs:element minOccurs="0" name="nombre" type="xs:string"/>
					<xs:element minOccurs="0" name="rut" type="xs:string"/>
					<xs:element minOccurs="0" name="telefonoFijo" type="xs:string"/>
					<xs:element minOccurs="0" name="telefonoOtro" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="agregarUsuarioResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:respuestaDTO"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="respuestaDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo" type="xs:string"/>
					<xs:element minOccurs="0" name="mensaje" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="recibirCarpetaTecnica">
				<xs:sequence>
					<xs:element minOccurs="0" name="carpeta" type="tns:postulacionDTO"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="postulacionDTO">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="archivos" nillable="true" type="tns:documentoDTO"/>
					<xs:element minOccurs="0" name="codigoPostulacion" type="xs:string"/>
					<xs:element minOccurs="0" name="userId" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="documentoDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="archivo" type="xs:base64Binary"/>
					<xs:element minOccurs="0" name="checksum" type="xs:string"/>
					<xs:element minOccurs="0" name="descripcionArchivo" type="xs:string"/>
					<xs:element minOccurs="0" name="nombreArchivo" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="recibirCarpetaTecnicaResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:respuestaDTO"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="paginaCalculoTVD">
				<xs:sequence>
					<xs:element minOccurs="0" name="paginaCalculo" type="tns:paginaCalculoDTO"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="paginaCalculoDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="token" type="xs:string"/>
					<xs:element minOccurs="0" name="usuario_id" type="xs:int"/>
					<xs:element minOccurs="0" name="codigo_postulacion" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="paginaCalculoTVDResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:respuestaDTO"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="recibirCarpetaTecnica">
		<wsdl:part element="tns:recibirCarpetaTecnica" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="agregarUsuarioResponse">
		<wsdl:part element="tns:agregarUsuarioResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="recibirCarpetaTecnicaResponse">
		<wsdl:part element="tns:recibirCarpetaTecnicaResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="agregarUsuario">
		<wsdl:part element="tns:agregarUsuario" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="paginaCalculoTVD">
		<wsdl:part element="tns:paginaCalculoTVD" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="paginaCalculoTVDResponse">
		<wsdl:part element="tns:paginaCalculoTVDResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Concursos">
		<wsdl:operation name="agregarUsuario">
			<wsdl:input message="tns:agregarUsuario" name="agregarUsuario"></wsdl:input>
			<wsdl:output message="tns:agregarUsuarioResponse" name="agregarUsuarioResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="recibirCarpetaTecnica">
			<wsdl:input message="tns:recibirCarpetaTecnica" name="recibirCarpetaTecnica"></wsdl:input>
			<wsdl:output message="tns:recibirCarpetaTecnicaResponse" name="recibirCarpetaTecnicaResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paginaCalculoTVD">
			<wsdl:input message="tns:paginaCalculoTVD" name="paginaCalculoTVD"></wsdl:input>
			<wsdl:output message="tns:paginaCalculoTVDResponse" name="paginaCalculoTVDResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConcursosServiceSoapBinding" type="tns:Concursos">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="agregarUsuario">
			<soap12:operation soapAction="urn:AgregarUsuario" style="document"/>
			<wsdl:input name="agregarUsuario">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="agregarUsuarioResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="recibirCarpetaTecnica">
			<soap12:operation soapAction="urn:RecibirCarpetaTecnica" style="document"/>
			<wsdl:input name="recibirCarpetaTecnica">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="recibirCarpetaTecnicaResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paginaCalculoTVD">
			<soap12:operation soapAction="urn:PaginaCalculoTVD" style="document"/>
			<wsdl:input name="paginaCalculoTVD">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="paginaCalculoTVDResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConcursosService">
		<wsdl:port binding="tns:ConcursosServiceSoapBinding" name="ConcursosPort">
			<wsp:PolicyReference
				xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#ChangeStudentDetailsImplServiceSoapBindingPolicy"/>
				<soap12:address location="https://tramites.subtel.gob.cl/CNTVInterop/services/ConcursosPort"/>
			</wsdl:port>
		</wsdl:service>
		<wsp:Policy
			xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
			xmlns:wsp="http://www.w3.org/ns/ws-policy" wsu:Id="ChangeStudentDetailsImplServiceSoapBindingPolicy">
			<wsp:ExactlyOne>
				<wsp:All>
					<sp:SupportingTokens
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
						<wsp:Policy>
							<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<wsp:Policy>
									<sp:WssUsernameToken11/>
								</wsp:Policy>
							</sp:UsernameToken>
						</wsp:Policy>
					</sp:SupportingTokens>
				</wsp:All>
			</wsp:ExactlyOne>
		</wsp:Policy>
	</wsdl:definitions>